
<div class="imagedefond">
    <p>Rufisque Parc Automobile</p>
    <br>

  <p>Le Groupe EMG a été créé dans les années 1990 par Monsieur MBAYE GUEYE, un professionnel de la mécanique générale, expérimenté et aguerri. Une formation technique en Allemagne lui a permis une parfaite maîtrise de la technologie germanique en matière d’automobile dont les marques (MERCEDES, VW, BMW, AUDI)  sont leaders dans l’innovation technologique à travers le monde.</p>
<br>
<p>De retour au Sénégal, après un long séjour en Allemagne, Monsieur GUEYE, décide de mettre ses connaissances, son expertise et  son expérience, au service de son pays.</p>
<br>
<p>Il entreprend une étude pointue du secteur automobile sénégalais et se rend compte de l’immense opportunité d’affaires qui se présentent à lui, et décide alors de lancer EMG.</p>
<br>
<p>Dans un premier temps, pour briser le monopole de certains groupes pratiquant des prix exorbitants, et pour contrecarrer un commerce  de plus en plus grand de pièces de rechange de contrefaçon, EMG (Equipement Made in Germany) s’est voulu un distributeur de pièces de qualité d’origine pour les véhicules allemands avec des prix très concurrentiels.</p>
<br>
<p>Dans un second temps, toujours sous-tendue par cette logique EMG se diversifie dans la distribution automobile en devenant Eminence Motors Guarantee, avec comme défi :Être un concessionnaire automobile indépendant multimarques qui offre aux Sénégalais le meilleur de l’automobile dans le monde en réinventant les règles de la distribution automobile. D’où son appellation commercial EMG UNIVERSAL AUTO.</p>
<br>
<p>EMG est avant tout une équipe de professionnels expérimentés et qualifiés à tous les niveaux de l’organisation. L’esprit d’entreprise, le sérieux, la rigueur et la disponibilité  caractérisent ses professionnels du haut de la pyramide à sa base.
C’est pour cette raison que le slogan « l’assurance d’être satisfait » constitue un dogme au sein de EMG.</p>
<br>
<p>Nos engagements</p>

<p>EMG s’engage à  offrir à sa clientèle une large gamme de produits et un service de qualité, une excellente prise en charge et un accompagnement permanent par un service commercial dévoué des techniciens experts  et un service après vente ayant un service express disponible 24h /24 et 7jours/7.</p>
<br>
<p>Nos objectifs</p>

<p>L’objectif premier et unique d’EMG est la satisfaction de nos clients, pour atteindre cet objectif principal nous nous fixons les sous-objectifs suivants :
            
Etre et demeurer le concessionnaire le plus compétitif en termes de rapports qualité-prix
Offrir des produits de qualité et personnalisable, en n’important que des véhicules neufs
Offrir des solutions de reprises aux clients qui souhaitent renouveler leurs véhicules
Une garantie de l’ensemble des véhicules neufs incluant pièces et main d’œuvre en dehors des pièces d’usures normales
Adapter sans cesse notre organisation avec une amélioration continue de nos process avec comme fil conducteur la satisfaction du client</p>
<br>
<p>Rufisque Automobile
EMG UNIVERSAL AUTO est le département commercial du groupe EMG.
                
Il est situé au boulevard Fahd Ben Abdel Aziz X Autoroute échangeur de Hann. Il comprend un grand show Room de 6000 m2 comprenant une exposition intérieur et extérieur avec des voitures allant du plus haut de gammes à la plus petite citadines en passant par les Pick up et utilitaires, les SUV, les 4×4.</p>
<br>
<p>Notre Mission:</p>

<p>Assurer le meilleur de l’offre automobile dans tout le secteur, avec des prix imbattables
Commercialisation de véhicules neufs toutes marques
Assurer la sécurité du client avec des facilités de paiement très abordables
Respecter les délais de livraisons
Respecter tous les engagements prix à l’égard de nos clients</p>
<br>
<p>Nos Services:</p>

<p>Service de commercialisation de véhicule neuf
Service après vente composé d’un service express et d’un garage de réparation
Piece de rechange d’origine
EMG location
Service assurance en partenariat avec AXA Assurance</p>
</div>