<div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>Nous offrons un service traiteur pour tout évenement, grand ou petit. Nous comprenons vos besoins et nous préparerons la nourriture pour satisfaire les critères les plus importants, à la fois esthétiques et gustatifs. N'hésitez pas à nous contacter.</p>
    <p class="w3-text-blue-grey w3-large"><b>Sénégal, Dakar, Rufisque, cité-tacco 30métre</b></p>
    <p>Vous pouvez également nous contacter par téléphone (+221) 77 342 06 43 ou par e-mail semarbangmail.com, ou vous pouvez nous envoyer un message ici :</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Nom" required name="Nom"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Prenom" required name="Prenom"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Ecrivez votre message" required name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">Envoyez </button></p>
      <div class="row" >
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.3188313103087!2d-17.466088624257413!3d14.694553195491665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172cd7934f8c5%3A0x11e1090bbb189bb5!2sESTM%20(Ecole%20Sup%C3%A9rieure%20de%20Technologie%20et%20de%20Management)!5e0!3m2!1sfr!2ssn!4v1716900798296!5m2!1sfr!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </form>
  </div>