body {
    background: #f8f2f2;
    font-family: Montserrat, "sans-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    color: #f5f1f1;
    text-align: center;
    }
    
    .Ecrivez-nous {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: rgb(17, 17, 17);
    }
    
    .Ecrivez-nous > h1 {
    font-weight: 100;
    }
    
    .Ecrivez-nous > p {
    font-weight: 100;
    }
    
    form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 90px;  
    margin-top: 25px;
    }
    
    form div > label {
    margin-bottom: 7px;
    font-weight: 600;
    }
    
    form div > input, form div > select, form div > textarea {
    background: rgb(247, 239, 239);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, "sans-serif";
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    }
    
    form div > input, form div > select {
    height: 50px;
    padding-left: 10px;
    }
    
    form div > select {
    appearance: none;
    background-size: 15px;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    }
    
    form div > textarea {
    height: 200px;
    padding: 15px 0px 0px 10px;
    }
    
    form div > input::placeholder, form div > textarea::placeholder {
    color: rgb(241, 230, 230);
    }
    
    form div > select:invalid {
    color: rgb(228, 216, 216);
    }
    
    form div > select option {
    background: white;
    color: #0f0f0f;
    }
    
    form div:last-child {
    align-items:center;
    margin-top: 20px;
    }
    
    form button {
    width: 200px;
    max-width: 300px;
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    background: rgb(247, 239, 239);
    border: rgba(252, 249, 249, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #0f0f0f;
    }


    .colored-word {
        color: rgb(13, 15, 138); /* Changez la couleur à celle que vous souhaitez */
        font-weight: bold; /* Vous pouvez ajouter d'autres styles si nécessaire */
        font-size: 16px; /* Ajustez cette valeur selon vos besoins */
        font-weight: bold; /* Optionnel : vous pouvez ajouter d'autres styles */
    }
    
  


    
  
        
   
