
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AUTOMOBILE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="About">Présentation</a>
          <a class="nav-link active" aria-current="page" href="vehicules">Nos Véhicules</a>
          <a class="nav-link active" aria-current="page" href="Services">Nos Services</a>
          <a class="nav-link active" aria-current="page" href="Mediatheque">Médiathéque</a>
          <a class="nav-link active" aria-current="page" href="videotheque">videotheque</a>
          <a class="nav-link active" aria-current="page" href="Contact">Contact</a>         
          </div>
          
      </div>

    </div>
    
</nav>

<div class="container">
    <header class="row">
      <div class="col">
        <div class="w3-row w3-padding-64" id="About" >
        <h1 class="text-center text-uppercase m-4">véhicule Ford</h1>
        <br>        
        <strong>À PROPOS DE FORD</strong>
        <p>
          Depuis plus d’un siècle, nous sommes à la pointe du changement dans l’industrie automobile. Aujourd’hui, alors que nous nous engageons dans un avenir électrique, notre objectif est de contribuer à la construction d’un monde meilleur, où chacun est libre de se déplacer et de poursuivre ses rêves.
        </p>
        <strong>TOUT ÉLECTRIQUE</strong>
        <p>
          D’ici 2030, tous les véhicules de tourisme Ford seront électriques. Ouverte en 2023, notre usine de véhicules électriques de Cologne, qui a coûté 2 milliards de dollars, fait partie des 50 milliards de dollars que nous investissons dans l’électrification à travers le monde. 
        </p>
        <strong>NOTRE ENGAGEMENT</strong>
        <p>L’ensemble de notre activité mondiale sera neutre en carbone d’ici 2050. Nous sommes en bonne voie pour atteindre cet objectif pour toutes les ventes de véhicules.</p>
        <strong>100 % HUMAIN</strong>
        <p>Notre objectif est de créer les meilleures expériences au monde de conduite. Nous nous efforçons de créer une culture d’appartenance pour nos employés et d’être une force positive au sein de nos communautés.</p>
      
        <p class="lead text-right">
          N'hésitez pas à visiter nos différents types de véhicules !
        </p>
        
      </div>
    </div>
    <hr>
    </header>
    <section>
      <div class="row">
        <div class="col">
          <h2 class="display-3 text-center bg-info py-4 mb-3 d-none d-md-block">Quelques photos de véhicules Ford</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/a/a0/2022_Ford_Expedition_Platinum_unmarked_unit%2C_front_4.14.23.jpg" alt="Ford Expedition">Ford Expedition</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://autotest.com.ar/wp-content/uploads/2023/06/FORD-TERRITORY-CONSUMO.jpg" alt="Ford">Ford Territory</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.kia.com/content/dam/kwcms/kme/global/en/assets/vehicles/kia-sportage-nq5-my22/discover/kia-sportage-hev-gtl-my22-gallery-drivemodes-moving.jpg" alt="Ford">Kia sportage</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.automobile-magazine.fr/asset/cms/1200x674/175830/config/124579" alt="Ford">Hyundai Kona</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.ford.fr/content/dam/guxeu/rhd/central/cvs/all-new-ranger-2022/gallery/ford-raptor-eu-04_P703_Wildtrak_Ext_Side_Profile_Dynamic_RGB_01b4-16x9-2160x1215-sog.jpg.renditions.original.png" alt="Ford">Ford Ranger</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://fr.ford.ca/is/image/content/dam/vdm_ford/live/en_ca/ford/nameplate/explorer/2023/collections/dm/21_FRD_EPR_07-EXPLORER-HYBRID.tif?croppathe=1_21x9&wid=1440" alt="Ford">Ford Explorer</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.spider-vo.net/modules/svo/photos/f8f8bdf138030d710358ae30384583dc/stock_241/image_2270984_1.jpg" alt="Ford">Ford F150</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://i.gaw.to/vehicles/photos/40/25/402593-2022-ford-ecosport.jpg" alt="Ford">Ford Ecosport</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://carsguide-res.cloudinary.com/image/upload/f_auto,fl_lossy,q_auto,t_cg_hero_large/v1/editorial/2023-Hyundai-Santa-Fe-Active-diesel-SUV-grey-Tung-Nguyen-1001x565p-%281%29.jpg" alt="Ford">Hyundai sanatfe</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.kiasherbrooke.com/static/b441800f8a38e0443ad7e6d57fc47cf8/42fd5/SR851P-EB.jpg" alt="Ford">Kia Sorento</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.audievreux.fr/content/dam/iph/international/fr/general_assets/Audi-rent/stage/audi-rent-header-V3.png/_jcr_content/renditions/cq5dam.thumbnail.640.360.iph.hero.png?imwidth=320&imdensity=1" alt="Ford">Audi Evreux</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://i.gaw.to/content/photos/56/22/562200-volkswagen-fabriquera-un-tiguan-electrique-a-partir-de-2026.jpg" alt="Ford">Volkswagen</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://imgd.aeplcdn.com/0x0/n/cw/ec/44709/fortuner-exterior-right-front-three-quarter-19.jpeg" alt="Ford">Toyota Fortuner</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.toyota.sn/media/gamme/modeles/images/5eab62fdeb08d81df2aaa81c0adecf16.png" alt="Ford">Toyota Prado</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.emguniversalauto.sn/wp-content/uploads/2017/06/toyota-hilux-sn.png" alt="Ford">Toyota Hillux</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://editorial.pxcrush.net/carsales/general/editorial/nissan-patrol-warrior-107.jpg?width=1024&height=683" alt="Ford">Nissan Patrol</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://media.ed.edmunds-media.com/nissan/rogue/2023/oem/2023_nissan_rogue_4dr-suv_platinum_fq_oem_1_1600.jpg" alt="Ford">Nissan Rogue</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://img2.icarros.com/dbimg/imgadicionalnoticia/4/53905_1" alt="Ford">Mercedes</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.renault-ci.com/CountriesData/Cote_dIvoire/images/cars/DusterHjdPh1/Packshot/Thumbnail-renault-duster-hjd-ph1.png" alt="Ford">Renault</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.citroen.fr/content/dam/citroen/master/b2c/models/new-c3-aircross-suv/bbc/C3_Aircross_2021_Thumbnail_1280_720.jpg">citroen</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://im.qccdn.fr/node/actualite-ford-puma-2020-premieres-impressions-75075/inline-54475.jpg" alt="Ford">Dacia</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://mysterio.yahoo.com/mysterio/api/9DC1866B20F1E0355BEE1F7051F3AA3A4D8F66C8F3231B4FAB4F9CF42951566D/autoblog/resizefill_w476_h266;quality_80;format_webp;cc_31536000;/https://s.aolcdn.com/commerce/autodata/images/USD10CHS111A021001.jpg" alt="Ford">Chevrolet</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.peugeot.fr/content/dam/peugeot/master/b2c/our-range/new-5008-suv/bbc/l-m/PEUGEOT_IMAGE_5008_E0_810x455.png" alt="Ford"> peugeot 5008</div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3"><img class="img-fluid" src="https://www.courtage-expertise-auto.fr/wp-content/uploads/2022/07/BMW-X6-2015-1280-10.jpg" alt="Ford">BMW </div>

      </div>     
    </section>
    <section class="row">
      <div class="col">
        <h2 class="display-4 text-center text-success p-md-3">Découvrez la Nouvelle FORD TERRITORY</h2>
      </div>
  
  <div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-3"><img class="img-fluid" src="https://uaemoments.awicdn.com/site-images/sites/default/files/e7awi-prod/article/d/5/520245/116356b05c1b1b33ef6bd593ec4a9353df71c591-081122042227.jpg?preset=v3.0_620x465&watermark_client=qatarmoments" alt="Ford Expedition"></div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-3"><img class="img-fluid" src="https://motorworldgroupsxm.com/wp-content/uploads/2023-ford-territory-leak-interior-cabin-inline-6-720x404-1.jpg" alt="Ford"></div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-3"><img class="img-fluid" src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_412,h_275,q_auto,c_fill,f_auto,fl_lossy/auto-client/648e701d14230de0a48fdef0f54de33b/territory_trend_6436_v3_1.jpg" alt="Ford"></div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-3"><img class="img-fluid" src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_412,h_412,q_auto,c_fill,f_auto,fl_lossy/auto-client/17a5be47fcc7764a7bf31fe523b3cb11/territory_trend_6392_v3_1.jpg" alt="Ford"></div>     

        <p>La toute nouvelle Ford Territory établit la nouvelle norme pour les petits véhicules utilitaires. Offrir une expérience inoubliable sur la route, grâce à son ADN SUV Ford unique, son intérieur spacieux, son design extérieur et l’un des moteurs les plus puissants de son segment.
          Avec <strong>5 ans de garantie ou 100.000 km</strong>. Caetano, importateur officiel Ford au Sénégal.</p>
        <dl class="row">
          <dt class="col-md-3">Nombre de places :</dt>
          <dd class="col-md-9"> 05 places </dd>
          <dt class="col-md-3">Carburant : </dt>
          <dd class="col-md-9">Essence</dd>
          <dt class="col-md-3">Kilomettrage : </dt>
          <dd class="col-md-9">0 kilométre</dd>
          <dt class="col-md-3">Garantie : </dt>
          <dd class="col-md-9"> 05 ans</dd>
         
        </dl>
      </div> 
      <div class="row">
        <div class="w3-row w3-padding-64" id="videotheque" >    
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-3"><img class="img-fluid" src="https://uaemoments.awicdn.com/site-images/sites/default/files/e7awi-prod/article/d/5/520245/116356b05c1b1b33ef6bd593ec4a9353df71c591-081122042227.jpg?preset=v3.0_620x465&watermark_client=qatarmoments" alt="Ford Expedition"></div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-3"><img class="img-fluid" src="https://motorworldgroupsxm.com/wp-content/uploads/2023-ford-territory-leak-interior-cabin-inline-6-720x404-1.jpg" alt="Ford"></div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-3"><img class="img-fluid" src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_412,h_275,q_auto,c_fill,f_auto,fl_lossy/auto-client/648e701d14230de0a48fdef0f54de33b/territory_trend_6436_v3_1.jpg" alt="Ford"></div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-3"><img class="img-fluid" src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_412,h_412,q_auto,c_fill,f_auto,fl_lossy/auto-client/17a5be47fcc7764a7bf31fe523b3cb11/territory_trend_6392_v3_1.jpg" alt="Ford"></div>     
    
            <p>La toute nouvelle Ford Territory établit la nouvelle norme pour les petits véhicules utilitaires. Offrir une expérience inoubliable sur la route, grâce à son ADN SUV Ford unique, son intérieur spacieux, son design extérieur et l’un des moteurs les plus puissants de son segment.
              Avec <strong>5 ans de garantie ou 100.000 km</strong>. Caetano, importateur officiel Ford au Sénégal.</p>
            <dl class="row">
              <dt class="col-md-3">Nombre de places :</dt>
              <dd class="col-md-9"> 05 places </dd>
              <dt class="col-md-3">Carburant : </dt>
              <dd class="col-md-9">Essence</dd>
              <dt class="col-md-3">Kilomettrage : </dt>
              <dd class="col-md-9">0 kilométre</dd>
              <dt class="col-md-3">Garantie : </dt>
              <dd class="col-md-9"> 05 ans</dd>
             
            </dl>
          </div>
        </div>   
    </section>

    <hr>
    <footer class="row justify-content-center">
      <address>
        <strong>Rufisque Automobile</strong><br>
        voiture Ford<br>
        collection juillet 2023
      </address>
    </footer>
  </div>
