<div class="imagedefond">
<p>
    Première règle lors de l’achat d’une voiture d’occasion entre particuliers : ne jamais conclure une transaction avant que le vendeur non professionnel ait présenté tous les papiers et que toutes les démarches soient faites. Ces documents seront essentiels pour faire une demande de carte grise et souscrire une assurance auto. Ils sont au nombre de quatre. On distingue :
</p>
<li>Le certificat d’immatriculation de la voiture (ou carte grise du véhicule) ;</li>
<p>Le certificat d’immatriculation (anciennement appelé carte grise) est considéré comme la carte d’identité du véhicule. Ce document doit être barré et porter la mention « Vendue le… », suivie de la signature du propriétaire et vendeur. Pour les cartes grises d’avant 2004, le coin en haut à droite portant la mention « Partie à découper lors de la cession du véhicule » doit être détaché et remis au nouveau propriétaire.</p>
<li>Le certificat de vente du véhicule ;</li>
<p>Le certificat de vente peut également être appelé certificat de cession. Disponible auprès des administrations (préfecture, mairie, gendarmerie…) ou sur le site service-public.fr, cette attestation tient lieu de contrat entre le vendeur et l’acheteur lorsqu’ils sont tous deux particuliers et figure parmi la liste des papiers à détenir dans le cadre d’un achat de voiture d’occasion. Elle mentionne les spécificités de la voiture d’occasion vendue, y compris le kilométrage au compteur ainsi que la date de vente. Chaque partie conserve un exemplaire du certificat.</p>
<li>Le certificat de situation administrative ;</li>
<p>Le certificat de situation administrative est délivré sous 15 jours par la préfecture et fait partie des papiers à présenter dans le cadre d’un achat de voiture d’occasion par un particulier. Ce document atteste que le véhicule en vente n’est ni mis en gage, ni volé. Il permet aussi de contrôler que son utilisation n’est pas restreinte par un organisme tiers (fisc, société de crédit, immobilisation pour amendes impayées…). Il s’agit d’une sécurité pour l’acheteur qui est certain de circuler en toute légalité à la suite de la vente.</p>
<li>Le procès verbal du contrôle technique lié au véhicule.</li>
<p>Un procès verbal du contrôle technique doit également être transmis. Que le vendeur soit professionnel ou particulier, le contrôle technique est obligatoire pour les voitures de 4 ans ou plus. Il doit avoir été effectué dans les 6 mois précédant la vente afin d’être valide lors de la demande de carte grise. Si une contre-visite a été nécessaire, le document doit dater de mois de 2 mois. Un délai est donc à prévoir en conséquence.</p>



  

    



