<div class="imagedefond">
<h1>Pourquoi assurer votre première voiture chez Auomobile ?</h1>

<p>+ Facile</p>
<p>Finies les petites lignes qui donnent le tournis, vous allez enfin comprendre vos garanties, profiter de services intuitifs et faire de vos démarches en ligne un jeu d’enfant.</p>
<p>+ Efficace</p>
<p>Pour que vous ne soyez jamais pris de court, vous bénéficiez de services de prévention offerts, de garanties à la carte et d’un soutien matériel et moral en cas de pépin.</p>
<p>+ A l'écoute</p>
<p>Vous pouvez bien sûr tout faire en ligne, mais comme parfois rien ne vaut le contact humain, nos conseillers experts sont disponibles de 10h à 20h du lundi au samedi !</p>
<div class="col-md-12">
    <div class="card">
</div>
</div>

