.imagedefond{
    background-image: url('https://img.freepik.com/photos-premium/famille-noire-joyeuse-conduisant-nouvelle-voiture-voyageant-auto-recadree_116547-23441.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
*{
    margin: 0;
    padding: 0;
}
