.imagedefond{
    background-image: url('https://img4.autodeclics.com/6/2023/01/photo_article/115591/52403/1200-L-une-voiture-bloque-ce-conducteur-pour-sortir-de-sa-place-de-parking-il-trouve-une-solution-en-quelques-secondes.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
*{
    margin: 0;
    padding: 0;
}
nav {
    position: left; /* Positionnement absolu */
    top: 0; /* En haut de la page */
    right: 0; /* Aligné à droite */
  }
  .AUTOMOBILE{
    position: left;
    top: 0
    
  }
