.imagedefond{
    background-image: url('https://demarchesadministratives.fr/images/demarches/2101/location-voiture-probleme.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
*{
    margin: 0;
    padding: 0;
}
