.imagedefond{
    background-image: url('https://assets-global.website-files.com/6413856d54d41b5f298d5953/647ef45d2ffd5501f7b2ab63_calandre-vehicule-tout-terrain.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
*{
    margin: 0;
    padding: 0;
}
