<div class="imagedefond">

<p>Afin de prévoir toute panne et de circuler en toute sécurité, il est nécessaire d'entretenir son véhicule avec attention et d'effectuer tous les contrôles recommandés. Si certains de ces contrôles, comme le contrôle technique sont obligatoires, le conducteur doit également faire l'effort d'effectuer régulièrement des vérifications mécaniques sur son véhicule.</p>

<h1>Les visites techniques</h1>
<p>Le contrôle technique</p>
<p>Le contrôle technique périodique des véhicules légers en France est obligatoire depuis le 1er janvier 1992. Il est réglementé par le Code de la Route (articles R. 323-1 à R. 323-26) et un arrêté du 18 juin 1991, modifié par plusieurs arrêtés successifs. Les automobilistes doivent obligatoirement effectuer leur premier contrôle technique au cours des 6 mois précédent la 4ème année d'immatriculation de leur véhicule dans le cas d'une voiture neuve. Suite à ce premier contrôle, il est obligatoire d'en effectuer un autre tous les 2 ans. Si l'usager décide d'acheter ou de vendre un véhicule, il est nécessaire que le contrôle technique date de moins de 6 mois.</p>
<p>🚦 Consultez la définition complète du contrôle technique 🚦</p>
<p>D'après une étude publiée sur le site Contrôle Technique Gratuit.com, en 2016, près de 24 795 000 véhicules ont été présenté au contrôle technique en France. La moyenne d'âge des véhicules était de 11,68 ans et seulement 13,53% sont passés sans défaut, 17,64% ont nécessité une contre-visite.</p>
<p>D'après une étude publiée sur le site Contrôle Technique Gratuit.com, en 2016, près de 24 795 000 véhicules ont été présenté au contrôle technique en France. La moyenne d'âge des véhicules était de 11,68 ans et seulement 13,53% sont passés sans défaut, 17,64% ont nécessité une contre-visite.</p>
<li>l'identification</li>
<li>le fonctionnement des freins</li>
<li>la direction</li>
<li>la visibilité</li>
<li>l'éclairage</li>
<li>la liaison au sol</li>
<li>la carrosserie</li>
<li>les équipements</li>
<li>la mécanique</li>
<li>la pollution</li>


